body{
    background: rgb(66, 45, 204);
}
.imgBox{
    background-image: url('index.jpg');
    position: relative;
    top: 6px;
    left: 5px;
    height: 145px;
    width: 145px;
    cursor: pointer;

}
.whiteBox{
    background-color: white;
    display: inline-block;
    height: 155px;
    width: 155px;
    margin: 10px;
    border: 3px black solid;

}

.hold{
    border: 3px red solid;
}

.hide{
    display: none;
}
.dashed{
    background: violet;
    border-style: dashed;
}